:root {
	--dark: #374151;
	--darker: #303b49;
	--darkest: #2c323c;
	--grey: #6B7280;
	--pink: rgb(236, 72, 153);
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: rgb(66, 61, 61);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

 input, button {
	 /* appearance: none;   */
	  border: none;  
	 outline: none; 
	background: none;
} 

#new-task-input {
    margin-top: 34px;
    height: 50px;
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#add{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 40px 0;
    color: #d8259c;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 50px;
    font-weight: bold;
   
}
#add:hover{
    background: #5e4059;
    color: #050801;
   
}
#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300; 
	color: var(--grey);
	margin-bottom: 1rem;
}

.task-list1 {
	padding: 1rem;
}
.task-list1 h2 {
	font-size: 1.5rem;
	font-weight: 300; 
	color: var(--grey);
	margin-bottom: 1rem;
}



 .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
    margin-top: 20px;
	border-radius: 1rem;
	margin-bottom: 1rem;
    height:60px;
}


.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
    color: rgb(22, 138, 210);

}

.task .content .text:not(:read-only) {
	color: rgb(40, 129, 207);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
    border-color: #FFF;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}
/* --------------------------------------------Completed tasks------------------------------------------------------------- */

.tasks {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
    margin-top: 20px;
	border-radius: 1rem;
	margin-bottom: 1rem;
    height:60px;
}
.tasks:hover{
    background-color: #03e9f4; 
    color: #050801;
}

.tasks .content {
	flex: 1 1 0%;
}

.done .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
    color: rgb(22, 138, 210);

}

.tasks .content .text:not(:read-only) {
	color: rgb(40, 129, 207);
}

.tasks .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.tasks .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
    border-color: #FFF;	

}

.tasks .actions button:hover {
	opacity: 0.8;
}

.tasks .actions button:active {
	opacity: 0.6;
}

/* --------------------------------------------EDIT BUTTON-------------------------------------------------------------------- */
/* .task .actions .edit {
    font: 700 10px consolas;
    color: rgb(236, 72, 153);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s;
	transform: scale(2);
    margin-top: -16px;
} */
/* ---------------------------------------DELETE BUTTON-------------------------------------------------------------------- */
.task .actions .delete {
    font: 700 14px consolas;
    color: rgb(236, 72, 153);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s;
	 /* transform: scale(2);  */
    margin-top: -16px;
	border: #050801;

}

/* .task .actions .done {
    font: 700 10px consolas;
    color: rgb(236, 72, 153);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s;
	transform: scale(2);
    margin-top: -16px;

} */
.strikeThroughDone{
    text-decoration: line-through;
}

input[type="checkbox"] {

     display: flex; 

    align-items: center;

    width: 20px;

    height: 20px;

    margin-left: -100px;
    
}
